* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}
.box {
    position: relative;
    width: 300px;
    height: 50px;
}
.box h2 {
    position: absolute;
    top: -40px;
    font-size: 1.25em;
    color: #fff;
    font-weight: 500;
}
.box input {
    position: absolute;
    inset: 2px;
    z-index: 10;
    font-size: 1em;
    outline: none;
    padding: 10px 15px;
    background: #333;
    color: #fff;
}
.box .password-strength {
    position: absolute;
    inset: 0;
    background: #1115;
}
.box .password-strength:nth-child(3) {
    filter: blur(5px);
}
.box .password-strength:nth-child(4) {
    filter: blur(10px);
}
#confirm-password {
    top: 110px;
    margin-left: -300px;
    max-width: 300px;
    height: 50px;

}
.box h3{
    color: #fff;
    margin-top: 70px;
    margin-left: -300px;
}