*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
}
.social-icon a{

    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    background: transparent;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    margin: 0 8px;
    text-align: center;
    z-index: 1;
    line-height: 45px;
    transition: .3s;
}

.social-icon a:hover{
    background:lawngreen;
    transform: rotate(135deg);
    box-shadow: 0 0 5px lawngreen,0 0 10px #4867AA;
}

.social-icon a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    background: #929498;
    z-index: -1;
}
.social-icon a i{
    font-size: 18px;
    color: #000;
    transition: .3s;
}
.social-icon a:hover i{
    transform: rotate(225deg);
    color: lawngreen;
}