@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f1219;
}
nav{
    position: relative;
    display: flex;
    background: #1e232f;
    padding: 10px 0;
}

nav a{
    position: relative;
    text-decoration: none;
    padding: 15px 25px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1em;
}
#marker{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 90px;
    border-bottom: 5px solid #08ff21;
    background: linear-gradient(0deg,#053b6133,transparent);
    transition: 0.5s;
    pointer-events: none;
    filter: drop-shadow(0 5px 25px #08ff21);
}
