body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

details {
    padding: 20px;
}
summary {
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 10px;
}
p {     
     margin: 11px;
}