body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #00796b;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

.question {
    margin-bottom: 25px;
    color: #37474f;
    font-size: 18px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
}

.option {
    display: flex;
    align-items: center;
    background-color: #eceff1;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

.option input {
    margin-right: 15px;
    transform: scale(1.2);
}

.option:hover {
    background-color: #cfd8dc;
    border-color: #00796b;
    cursor: pointer;
}

.option-content {
    display: flex;
    align-items: center;
    color: #37474f;
    font-size: 16px;
}

.option-text {
    margin-left: 8px;
}
